
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@using Final_Plataformas_De_Desarrollo.Models;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Final_Plataformas_De_Desarrollo</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/menu.css" />
    <link rel="stylesheet" href="~/css/modalEmergente.css" />

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar bg-dark box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Cliente" asp-action="Index">Logo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                @if (HttpContextAccessor.HttpContext.Session.GetString("SignIn") != null)
                {


                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Cliente" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Cliente" asp-action="ListadoProductos">Listado de Productos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Contacto">Contacto</a>
                            </li>
                        </ul>

                    </div>
                    @*  CARRO  *@
                    <div class="mt-2 px-3 ">
                        <a asp-controller="Cliente" asp-action="Carro">
                            <i class="fas fa-shopping-cart text-success" style="font-size:25px;"></i>
                        </a>

                        @*  CANTIDAD DE PRODUCTOS EN EL CARRO  *@
                        <label class="text-white" style="font-size:15px">
                            @(HttpContextAccessor.HttpContext.Session.GetString("CantProductos"))

                        </label>
                    </div>




                    @*  CERRAR SESION  *@
             
                    <div class="user-menu">
                        <button class="btn btn-success userbtn-menu">
                            <i class="fa-solid fa-user text-white" style="font-size:25px;"></i>
                            @(JsonConvert.DeserializeObject<Account>(HttpContextAccessor.HttpContext.Session.GetString("SignIn")).name)
                        </button>

                        <div class="user-content-menu">
                            <a asp-controller="Cliente" asp-action="Carro">Mi Carro</a>
                            <a asp-controller="Cliente" asp-action="MisCompras">Mis Compras</a>
                            <a asp-controller="Cliente" asp-action="MisDatos">Mi Datos</a>
                            <a asp-controller="Home" asp-action="CerrarSesion">Logout</a>
                        </div>
                    </div>
                }

            </div>
        </nav>
    </header>
    <div class="container-fluid">
        @RenderBody()

        @if (TempData["Mensaje"] != null)
        {

            @* MODAL *@

            <div id="myModalEmergente" class="modal-Emergente " style="display:block">
                <div class="modal-content-Emergente">
                    <span class="closeEmergente">&times;</span>
                    @if (TempData["TituloMensaje"] != null)
                    {
                        <div class="modal-header-Emergente">

                            <h2>@TempData["TituloMensaje"]</h2>
                        </div>
                    }
                    <div class="modal-body-Emergente">
                        <p>@TempData["Mensaje"]</p>

                    </div>
                </div>
            </div>

            @* FINAL MODAL *@
        }

    </div>

    <footer class="footer text-white bg-dark">
        <div class="container">
            &copy; 2022 - Final_Plataformas_De_Desarrollo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/2e9c83e3ea.js" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/modalEmergente.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)


    @if (HttpContextAccessor.HttpContext.Session.GetString("SignIn") == null && ViewData["Title"].ToString() != "Login" )
    {

        @* MODAL SESION CADUCADA *@
        <div class="modal" tabindex="-1" role="dialog" aria-labelledby="modalDelCenteredLabel" aria-hidden="true" style="display: block; background-color: rgba(0,0,0,0.5);">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content " style="background-color: rgb(255, 255, 255,1);">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalDelCenteredLabel">Se expiro la sesion</h5>
                    </div>
                    <div class="modal-body">
                        <label>Vuelva a iniciar sesion para continuar</label>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-success" asp-controller="Home" asp-action="Login">Iniciar Sesion</a>
                    </div>
                </div>
            </div>
        </div>
        @* FIN DEL MODAL *@
    }



</body>
</html>
