@model IEnumerable<Final_Plataformas_De_Desarrollo.Models.Categoria>

@{
    Layout = "~/Views/Shared/_LayoutA.cshtml";
    ViewData["Title"] = "Categorias";
}

<h1>Categorias</h1>

<a class="btn btn-warning" asp-action="Create">Nueva Categoria</a>

<div class="card-body">
    <div class="table-responsive">
        <div style="overflow-x:auto;">
            <table class="table table-xl-responsive-borderless" id="tablajson" width="100%" cellspacing="0">
                <thead>
                    <tr align="center">
                        <th>
                            Nombre
                        </th>
                        <th>
                            Fecha Creacion
                        </th>
                        <th>
                            Acciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr align="center">
                        <td>
                            @item.nombre
                        </td>
                        <td>
                            @item.fechaCreacion.ToString("yyy-MM-dd")
                        </td>
                        <td>

                            @* DETALLES CATEGORIA *@
                            <a role="button" data-toggle="modal" data-target="@("#modalDetalle" + item.idCategoria.ToString())"> <i class="fas fa-eye text-warning"></i> </a>|
                            @* ELIMINAR CATEGORIA *@
                            <a role="button" data-toggle="modal" data-target="@("#modalDel" + item.idCategoria.ToString())"> <i class="fas fa-trash-alt text-warning"></i> </a>


                            @* MODAL DETALLES CATEGORIA *@

                            <div class="modal" id="@("modalDetalle" + item.idCategoria.ToString())" tabindex="-1" role="dialog" aria-labelledby="modalDelCenteredLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header bg-danger text-white">
                                            <h5 class="modal-title text-center" id="modalDelCenteredLabel">Detalle de Categoria</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body align-content-center">
                                            <div>
                                                <hr style="border-color:gray;" />
                                                <dl class="row " align="left">
                                                    <dt class="col-sm-6">
                                                        Nombre
                                                    </dt>
                                                    <dd class="col-sm-6">
                                                        @item.nombre
                                                    </dd>
                                                    <dt class="col-sm-6">
                                                        Fecha de Creacion
                                                    </dt>
                                                    <dd class="col-sm-6">
                                                        @item.fechaCreacion.ToString("yyyy-MM-dd")
                                                    </dd>
                                                </dl>
                                                <hr style="border-color:gray;" />
                                            </div>
                                            <div>

                                                <a role="button" class="btn btn-warning " asp-action="Edit" asp-route-id="@item.idCategoria"><label class="text-bold">Editar</label></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            @* FIN DEL MODAL DETALLES CATEGORIA *@

                            @* MODAL ELIMINAR CATEGORIA *@

                            <div class="modal" id="@("modalDel" + item.idCategoria.ToString())" tabindex="-1" role="dialog" aria-labelledby="modalDelCenteredLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header bg-danger text-white">
                                            <h5 class="modal-title" id="modalDelCenteredLabel">¿Estas seguro que deseas eliminar la categoria @item.nombre ?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <span>
                                                Si le das confirmar, la categoria se eliminará .
                                            </span>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-warning" asp-action="Eliminar" asp-route-id="@item.idCategoria">Confirmar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @* FIN DEL MODAL ELIMINAR CATEGORIA *@

                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>