@model IEnumerable<Final_Plataformas_De_Desarrollo.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cat.nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idProducto">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idProducto">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idProducto">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
