@model IEnumerable<Final_Plataformas_De_Desarrollo.Models.Producto>

@{
    Layout = "~/Views/Shared/_LayoutA.cshtml";
    ViewData["Title"] = "Index";
}

<h1>Productos</h1>

<a class="btn btn-success" asp-action="Create">Nuevo Producto</a>


<div class="card-body">
    <div class="table-responsive">
        <div style="overflow-x:auto;">
            <table class="table table-xl-responsive-borderless" id="tablajson" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Precio
                        </th>
                        <th>
                            Cantidad
                        </th>
                        <th>
                            Categoria
                        </th>
                        <th>
                            Fecha Creacion
                        </th>
                        <th>
                            Acciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.nombre
                            </td>
                            <td>
                                $@item.precio
                            </td>
                            <td>
                                @item.cantidad
                            </td>
                            <td>
                                @item.cat.nombre
                            </td>
                            <td>
                                @item.fechaCreacion.ToString("dd-MM-yyyy HH:mm:ss")
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.idProducto"><i class="fas fa-edit text-success"></i></a> |
                                <a asp-action="Details" asp-route-id="@item.idProducto"><i class="fas fa-eye text-success"></i></a> |
                                <a asp-action="Delete" asp-route-id="@item.idProducto"><i class="fas fa-trash-alt text-success"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
