@using System.IO;
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment IWebHostEnviroment;
@{
    ViewData["Title"] = "Detalle Producto";
    var prod = ViewData["producto"] as Producto;
    var prodRel = ViewData["prodRela"] as List<Producto>;
    var cont = 0;
}
@model FormulariosViewModel;

    <div class="row bg-info py-5">
        <div class="col-lg-12 text-center">
            <div>
                <h2>Detalle del Producto</h2>
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-12 justify-content-center">
        <div class="card my-5 mx-5">
            <div class="row no-gutters">
                <div class="col-md-6 d-flex justify-content-center">
                    @if (File.Exists(IWebHostEnviroment.WebRootPath + "/images/productos/" + prod.idProducto + ".png"))
                    {
                        <img src="~/images/productos/@(prod.idProducto).png" class="img-fluid" alt="Imagen del producto" />
                    }
                    else
                    {
                        <img src="~/images/categorias/cat-1.png" class="img-fluid" alt="Imagen Generica" />

                    }
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h3 class="font-weight-bold mb-3">@prod.nombre</h3>
                        <div class="w-25 mb-3">
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                        </div>
                        <h3 class="text-danger mb-3">$@String.Format("{0:0,0.00}", prod.precio)</h3>
                        <dl class="row mb-3">
                            <dt class="col-md-5"><p class="h5"><b class="font-weight-bold">Categoría:</b></p></dt>
                            <dd class="col-md-7"><p class="h5">@prod.cat.nombre</p></dd>
                            <dt class="col-md-5"><p class="h5"><b class="font-weight-bold">Cantidad en Stock:</b></p></dt>
                            <dd class="col-md-7"><p class="h5">@prod.cantidad unidades</p></dd>
                        </dl>

                        <button type="button" class="btn btn-success " data-toggle="modal" data-target="#modalAdd"> Agregar al Carro </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <div class="row">
        <div class="col-lg-12">
            <div class="section-title related__product__title">
                <h2>Productos relacionados</h2>
            </div>
        </div>
    </div>

    <div class="row">
        @foreach (Producto prodR in prodRel)
        {
            @if (cont < 4 && prodR.idProducto != prod.idProducto)
            {
                cont++;
                <div class="col-lg-3 col-md-4 col-sm-6 my-4">
                    <div class="card">
                        <div class="card-header">

                            @if (File.Exists(IWebHostEnviroment.WebRootPath + "/images/productos/" + prodR.idProducto + ".png"))
                            {
                                <img src="~/images/productos/@(prodR.idProducto).png"  class="img-fluid" alt="Imagen del producto" />
                            }
                            else
                            {
                                <img src="~/images/categorias/cat-1.png" class="img-fluid" alt="Imagen Generica" />
                                
                            }
                            <div class="card-body">
                                <h6 class="card-title">@prodR.nombre</h6>
                                <span>$@String.Format("{0:0,0.00}", prodR.precio)</span>
                                <h6><a asp-controller="Cliente" asp-action="DetalleProducto" asp-route-id="@prodR.idProducto" class="btn btn-success">Ir a Detalle</a></h6>
                            </div>
                        </div>
                    </div>

                </div>
            }
        }
    </div>
</div>

@* MODAL AGREGAR AL CARRO *@

<div class="modal" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="modalDelCenteredLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title  " id="modalDelCenteredLabel">@prod.nombre</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <section>
                    <form asp-controller="Cliente" asp-action="AgregarAlCarro" method="post">
                        <div class="form-group">
                            <input asp-for="@Model.AgregarInput.ID" class="form-control" value="@prod.idProducto" hidden />
                        </div>
                        <div class="form-group">
                            <select asp-for="@Model.AgregarInput.Cantidad" class="form-control" onfocus="this.size=10;" onblur="this.size=1;"
                                    onchange="this.size=1; this.blur()" ;>
                                <option value="" selected disabled hidden>Ingrese cantidad de unidades</option>
                                @for (int i = 1; i <= prod.cantidad; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                            <span asp-validation-for="@Model.AgregarInput.Cantidad" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <span class="text-danger">
                                @Html.DisplayFor(lvm => lvm.ErrorMessage)
                            </span>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success btn-block">Agregar al Carro</button>
                        </div>
                    </form>
                </section>
                <label id="indexMessage" class="error">@Html.DisplayFor(lvm => lvm.ErrorMessage)</label>
            </div>
        </div>
    </div>
</div>

@* FIN DEL MODAL *@

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
