@{ ViewData["Title"] = "Listado de Productos"; }
@using System.IO;
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment IWebHostEnviroment;
@model IEnumerable<Final_Plataformas_De_Desarrollo.Models.Producto> ;

@{ IEnumerable<Categoria> cat = ViewData["categorias"] as IEnumerable<Categoria>; }

@*   LISTADO DE PRODUCTOS  *@

<div class="row">

    <div class="col-2" style="background-color:#212121;">
        <div style="position:fixed">
            <h4 class="text-center text-success mt-2">Categorías</h4>
            <hr style="border-color:gray;" />
            <ul>
                @if (!String.IsNullOrEmpty(Context.Request.Query["cat"]))
                {
                    if (int.Parse(Context.Request.Query["cat"]) != 0)
                    {
                        <li class="text-danger">
                            @Html.ActionLink("Todos", "ListadoProductos", new
                       {
                           cat = 0,
                           orderby = (String.IsNullOrEmpty(Context.Request.Query["orderby"])) ? "" : Context.Request.Query["orderby"].ToString(),
                           az = (String.IsNullOrEmpty(Context.Request.Query["az"])) ? "" : Context.Request.Query["az"].ToString()
                       }, new
                            {
                           style = "color: white"
                       })
                        </li>
                    }
                }

                @foreach (var categorias in cat)
                {
                    @* LISTA DE CATEGORIAS *@

                    <li class="text-danger">
                        @Html.ActionLink(categorias.nombre, "ListadoProductos", new
                   {
                       cat = categorias.idCategoria,
                       orderby = (String.IsNullOrEmpty(Context.Request.Query["orderby"])) ? "" : Context.Request.Query["orderby"].ToString(),
                       az = (String.IsNullOrEmpty(Context.Request.Query["az"])) ? "" : Context.Request.Query["az"].ToString()
                   }, new
                        {
                       style = "color: white"
                   })
                    </li>
                }
            </ul>

            <hr style="border-color:gray;" />
            @* FILTROS
                POR PRECIO
                POR NOMBRE
                ORDENADO DE FORMA ASCENDENTE
                ORDENADO DE FORMA DESCENDENTE
            *@
            <ul>

                <li class="text-danger">
                    @Html.ActionLink("Precio", "ListadoProductos", new
               {
                   cat = (String.IsNullOrEmpty(Context.Request.Query["cat"])) ? 0 : int.Parse(Context.Request.Query["cat"]),
                   orderby = "precio",
                   az = (String.IsNullOrEmpty(Context.Request.Query["az"])) ? "" : Context.Request.Query["az"].ToString()
               }, new
                    {
                   style = "color: white"
               })
                </li>
                <li class="text-danger">
                    @Html.ActionLink("Nombre", "ListadoProductos", new
               {
                   cat = (String.IsNullOrEmpty(Context.Request.Query["cat"])) ? 0 : int.Parse(Context.Request.Query["cat"]),
                   orderby = "nombre",
                   az = (String.IsNullOrEmpty(Context.Request.Query["az"])) ? "" : Context.Request.Query["az"].ToString()
               }, new
                    {
                   style = "color: white"
               })
                </li>
                <li class="text-danger">
                    @Html.ActionLink("Ascendente", "ListadoProductos", new
               {
                   cat = (String.IsNullOrEmpty(Context.Request.Query["cat"])) ? 0 : int.Parse(Context.Request.Query["cat"]),
                   orderby = (String.IsNullOrEmpty(Context.Request.Query["orderby"])) ? "" : Context.Request.Query["orderby"].ToString(),
                   az = "asc"
               }, new
                    {
                   style = "color: white"
               })
                </li>
                <li class="text-danger">
                    @Html.ActionLink("Descendente", "ListadoProductos", new
               {
                   cat = (String.IsNullOrEmpty(Context.Request.Query["cat"])) ? 0 : int.Parse(Context.Request.Query["cat"]),
                   orderby = (String.IsNullOrEmpty(Context.Request.Query["orderby"])) ? "" : Context.Request.Query["orderby"].ToString(),
                   az = "desc"
               }, new
                    {
                   style = "color: white"
               })
                </li>
            </ul>
            <hr style="border-color:gray;" />

            @* QUITAR TODOS LOS FILTROS *@
            <ul>
                <li class="text-danger">
                    @Html.ActionLink("Quitar Filtros", "ListadoProductos", new
               {
                   cat = 0,
                   orderby = "",
                   az = ""
               }, new
                    {
                   style = "color: white"
               })
                </li>
            </ul>
        </div>
    </div>
    @* PRODUCTOS *@
    <div class="col-10 mt-2">
        <div class="row mx-2 my-2">
            @foreach (var prod in Model)
            {
                <div class="col-6">
                    <div class="card mb-3" style="max-width: 540px; background-color: #D2FFA5;">
                        <div class="row no-gutters">
                            <div class="col-md-6">
                                @if (File.Exists(IWebHostEnviroment.WebRootPath + "/images/productos/" + prod.nombre + ".jpg"))
                                {
                                    <img src="~/images/productos/@(prod.nombre).jpg" class="img-fluid" alt="...">
                                }
                                else
                                {
                                    <img src="~/images/categorias/cat-1.png" class="img-fluid" alt="Imagen Generica" />

                                }
                                
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h5 class="card-title">@prod.nombre</h5>
                                    <p class="card-text">Precio: $@prod.precio.00</p>
                                    <p class="card-text">Categoria: @prod.cat.nombre</p>
                                    @*<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>*@
                                    <a class="btn btn-success" asp-controller="Cliente" asp-action="DetalleProducto" asp-route-id="@prod.idProducto">Ir a Producto</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
