@{ ViewData["Title"] = "Listado de Productos"; }

@model IEnumerable<Final_Plataformas_De_Desarrollo.Models.Producto> ;

@{ IEnumerable<Categoria> cat = ViewData["categorias"] as IEnumerable<Categoria>; }

@*   LISTADO DE PRODUCTOS  *@

<div class="container">

    <div class=" row">

        <div class="col-md-3 filtros ">

            @if (!String.IsNullOrEmpty(Context.Request.Query["cat"]))
            {
                if (int.Parse(Context.Request.Query["cat"]) != 0)
                {
                    @Html.ActionLink("Todos", "ListadoProductos", new
                    {
                        cat = 0,
                        orderby = (String.IsNullOrEmpty(Context.Request.Query["orderby"])) ? "" : Context.Request.Query["orderby"].ToString(),
                        az = (String.IsNullOrEmpty(Context.Request.Query["az"])) ? "" : Context.Request.Query["az"].ToString()
                    }) <br />
                }
            }

            @foreach (var categorias in cat)
            {
                @* LISTA DE CATEGORIAS *@

                @Html.ActionLink(categorias.nombre, "ListadoProductos", new
                {
                    cat = categorias.idCategoria,
                    orderby = (String.IsNullOrEmpty(Context.Request.Query["orderby"])) ? "" : Context.Request.Query["orderby"].ToString(),
                    az = (String.IsNullOrEmpty(Context.Request.Query["az"])) ? "" : Context.Request.Query["az"].ToString()
                }) <br />

            }

            <hr />

            @* FILTROS
            POR PRECIO
            POR NOMBRE
            ORDENADO DE FORMA ASCENDENTE
            ORDENADO DE FORMA DESCENDENTE
            *@

            @Html.ActionLink("Precio", "ListadoProductos", new
            {
                cat = (String.IsNullOrEmpty(Context.Request.Query["cat"])) ? 0 : int.Parse(Context.Request.Query["cat"]),
                orderby = "precio",
                az = (String.IsNullOrEmpty(Context.Request.Query["az"])) ? "" : Context.Request.Query["az"].ToString()
            })<br />

            @Html.ActionLink("Nombre", "ListadoProductos", new
            {
                cat = (String.IsNullOrEmpty(Context.Request.Query["cat"])) ? 0 : int.Parse(Context.Request.Query["cat"]),
                orderby = "nombre",
                az = (String.IsNullOrEmpty(Context.Request.Query["az"])) ? "" : Context.Request.Query["az"].ToString()
            })<br />

            @Html.ActionLink("Ascendente", "ListadoProductos", new
            {
                cat = (String.IsNullOrEmpty(Context.Request.Query["cat"])) ? 0 : int.Parse(Context.Request.Query["cat"]),
                orderby = (String.IsNullOrEmpty(Context.Request.Query["orderby"])) ? "" : Context.Request.Query["orderby"].ToString(),
                az = "asc"
            })<br />

            @Html.ActionLink("Descendente", "ListadoProductos", new
            {
                cat = (String.IsNullOrEmpty(Context.Request.Query["cat"])) ? 0 : int.Parse(Context.Request.Query["cat"]),
                orderby = (String.IsNullOrEmpty(Context.Request.Query["orderby"])) ? "" : Context.Request.Query["orderby"].ToString(),
                az = "desc"
            })<br />

            <hr />

            @* QUITAR TODOS LOS FILTROS *@

            @Html.ActionLink("Quitar Filtros", "ListadoProductos", new
            {
                cat = 0,
                orderby = "",
                az = ""
            })<br />

        </div>
        @* PRODUCTOS *@
        <div class="col-md-9">

            @foreach (var prod in Model)
            {
                <div class="  bg-transparent">
                    <h5>@prod.nombre</h5>
                    <p>Precio: @prod.precio $</p>
                    <p>Categoria: @prod.cat.nombre</p>
                    <a asp-controller="Cliente" asp-action="DetalleProducto" asp-route-id="@prod.idProducto">Ir a Producto</a>
                </div>
                <hr />
            }
        </div>

    </div>

</div>